h1{color:black}
body{background-color: rgb(236, 229, 126);}
.games{
    display:flex;
    justify-content:space-between
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p{text-align: center;}